<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Track | Feedback</title>
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="../static/feedback.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width"/>
  </head>
  <body>
    <header>
      <h1><a href="#">Feedback</a></h1>
      <h2>
        <a lquery="(attr :href up) (text up-text)"></a>
      </h2>
    </header>
    <main>
      <div class="box info" lquery='(text (post/get "message"))'></div>
      <div class="box error" lquery='(text (post/get "error"))'></div>
      <article class="track view">
        <div class="entry head">
          <div class="row">
            <span class="drag"></span>
            <span class="severity">Severity</span>
            <span class="assigned">Assigned</span>
            <span class="description">Description</span>
            <span class="status">Status</span>
            <span class="collapse"></span>
          </div>
        </div>
        <form class="entry new">
          <div class="row">
            <span class="drag"></span>
            <select class="severity">
              <option value="0" selected>---</option>
              <option value="1">Irrelevant</option>
              <option value="10">Nice To Have</option>
              <option value="30">Low</option>
              <option value="50">Medium</option>
              <option value="80">High</option>
              <option value="100">Critical</option>
            </select>
            <input type="text" class="assigned user" list="users"/>
            <textarea class="description" placeholder="New issue..." required></textarea>
            <select class="status">
              <option value="new" selected>New</option>
              <option value="triaged">Triaged</option>
              <option value="resolved">Resolved</option>
              <option value="wontfix">Wontfix</option>
              <option value="invalid">Invalid</option>
              <option value="duplicate">Duplicate</option>
              <option value="unclear">Unclear</option>
              <option value="deleted">Deleted</option>
            </select>
            <input type="submit" value="Add" class="collapse"/>
          </div>
        </form>
        <div class="entry existing">
          <form class="row">
            <span class="drag"><i class="fa-solid fa-grip-lines"></i></span>
            <select class="severity">
              <option value="0"></option>
              <option value="1">Irrelevant</option>
              <option value="10">Nice To Have</option>
              <option value="30" selected>Low</option>
              <option value="50">Medium</option>
              <option value="80">High</option>
              <option value="100">Critical</option>
            </select>
            <input type="text" class="assigned user" list="users" value="shinmera"/>
            <textarea class="description">Some bug.</textarea>
            <select class="status">
              <option value="new" selected>New</option>
              <option value="triaged">Triaged</option>
              <option value="resolved">Resolved</option>
              <option value="wontfix">Wontfix</option>
              <option value="invalid">Invalid</option>
              <option value="duplicate">Duplicate</option>
              <option value="unclear">Unclear</option>
              <option value="deleted">Deleted</option>
            </select>
            <span class="collapse"><i class="fa-solid fa-chevron-down"></i></span>
          </form>
          <div class="extra">
            <nav class="actions">
              <a href="#" class="detail"><i class="fa-solid fa-code-commit"></i> Details</a>
              <a href="#" class="duplicate"><i class="fa-solid fa-code-merge"></i> Mark as Duplicate</a>
              <a href="#" class="related"><i class="fa-solid fa-code-pull-request"></i> Relate To</a>
              <a href="#" class="front"><i class="fa-solid fa-caret-up"></i> To Front</a>
              <a href="#" class="back"><i class="fa-solid fa-caret-down"></i> To Back</a>
            </nav>
            <div class="notes">
              <form class="note existing">
                <time class="time">2023.01.25 13:28:12</time>
                <a class="author user" href="#">Shinmera</a>
                <textarea class="text">Whatever</textarea>
              </form>
              <form class="note new">
                <time class="time">2023.01.25 13:28:12</time>
                <a class="author user" href="#">Shinmera</a>
                <textarea class="text"></textarea>
                <input type="submit" value="Submit">
              </form>
            </div>
            <ul class="relations">
              <li class="duplicate">
                <i class="fa-solid fa-code-merge"></i> <a href="#">1342</a> is a duplicate
              </li>
              <li class="related">
                <i class="fa-solid fa-code-pull-request"></i> <a href="#">2345</a> is related
              </li>
            </ul>
          </div>
        </div>
        <div class="entry existing">
          <form class="row">
            <span class="drag"><i class="fa-solid fa-grip-lines"></i></span>
            <select class="severity">
              <option value="0"></option>
              <option value="1">Irrelevant</option>
              <option value="10">Nice To Have</option>
              <option value="30" selected>Low</option>
              <option value="50">Medium</option>
              <option value="80">High</option>
              <option value="100">Critical</option>
            </select>
            <input type="text" class="assigned user" list="users" value="shinmera">
            <textarea class="description">Some bug.</textarea>
            <select class="status">
              <option value="new" selected>New</option>
              <option value="triaged">Triaged</option>
              <option value="resolved">Resolved</option>
              <option value="wontfix">Wontfix</option>
              <option value="invalid">Invalid</option>
              <option value="duplicate">Duplicate</option>
              <option value="unclear">Unclear</option>
              <option value="deleted">Deleted</option>
            </select>
            <span class="collapse"><i class="fa-solid fa-chevron-up"></i></span>
          </form>
        </div>
      </article>
      <datalist id="users"></datalist>
      <script @src="/static/feedback/feedback.js"></script>
    </main>
    <footer>
      &copy; <time lquery="(time T :year)">2019</time> Shirakumo<br/>
      Running on <a href="https://shirakumo.org/projects/feedback">Feedback <c:splice lquery="(text version)">0.0.0</c:splice></a>
    </footer>
  </body>
</html>
